<!DOCTYPE html>
<nav>
  <a href="/">Home</a>
  <a href="/resume">Resume Recommender</a>
  <a href="/editor">Resume Editor</a>
</nav>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='editor.css') }}" />
  </head>
<body>
    <br>
    <h1 style="font-family:Trocchi; color:rgb(228, 228, 228);">Resume Editor</h1>
    <h5 style="text-align:center"> 
        ApplicantAI's resume editor will rewrite your  work, leadership, or project experience by improving word usage, sentence structure, and 
        alignment with the job requirements and qualifications. These changes can help a resume stand out in an application.
    </h5>
    <br>
    <form action="/editor" method="post" id='editor' enctype="multipart/form-data">
        <div class="textarea-container">
            <textarea style = "color: #8e8ea0; opacity: 1; font-size:20px;" class="textAreaMultiline" name='job' id='job' placeholder="Paste Job Description Here" rows="25" cols="35" required></textarea>
            <textarea style="color: #8e8ea0; opacity: 1; font-size:14px;" class="textAreaMultiline" name='section' id='section' 
            placeholder="Paste Resume Section Here 
            Example: 
            Web Developer
            DEF Company
            May 2016 - Dec 2018
            - Built and maintained responsive websites using HTML, CSS, and JavaScript
            - Worked closely with designers and product managers to deliver high-quality user experiences" 
            rows="25" cols="35" required></textarea>
        </div>
        <input type="submit" value="Generate Section"/>
    </form>
    <div class="spinner-container">
        <p>Loading Section...</p>
        <div class="spinner"></div>
    </div>
    {% if result %}
    <div class="popup">
        <button id="close">&times;</button>
        <h2>Here's your New Resume Section!</h2>
        <p>
            {{ result }}
        </p>
    </div>
    {% endif %}
    <script type="text/javascript">
    // Get the form element
    const form = document.getElementById('editor');

    form.addEventListener('submit', function(e) {
        // Show the spinner
        document.querySelector('.spinner-container').style.display = 'block';
    });

    window.addEventListener("load", function(){
        document.querySelector('.spinner-container').style.display = 'none';
            setTimeout(
                function open(event){
                    document.querySelector(".popup").style.display = "block";
                },
                2000 
            )
        });
        
        document.querySelector("#close").addEventListener("click", function(){
            document.querySelector(".popup").style.display = "none";
        })
    </script>
</body>
</html>