<!DOCTYPE html>
  <head>
    <title>ApplicantAI</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='ai_pic.jpeg') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  </head>
  <body>
    <img src="{{ url_for('static', filename='ai_pic.jpeg') }}" class="icon" />
    <h3 style="font-family:Papyrus; color:rgb(228, 228, 228);">ApplicantAI</h3>
    <h5 style="text-align:center"> 
      Writing a cover letter for every job can be hard. 
      That is why ApplicantAI is here to help. 
      Input your resume, choose a job function, paste the job description, 
      and input the company name and our AI algorithm will create a
      personalized cover letter that can help you land your next dream job!
    </h5>
    <h4>Drag and drop or Upload Resume (PDF Only)</h4>
    <form action="/app" method="post" enctype="multipart/form-data">
      <input type="file" name="resume" id="resume" required>
      <br>
      <h4> Choose Job Function</h4>
      <select name="industry" id="industry" required>
        <option value="" disabled selected hidden>Choose Function</option>
        <option value="Business">Consulting,Marketing,Business</option>
        <option value="HR">HR</option>
        <option value="Finance">Finance,Sales</option>
        <option value="Engineering">Engineer,Data</option>
        <option value="Product">Product,Project,Design</option>
        <option value="Manager">Managerial Role</option>
      </select>
    <br>
      <textarea class="textAreaMultiline" name='job' id='job' placeholder="Paste Job Description Here" rows="25" cols="40" required></textarea> 
    <br>
      <input style="font-family:Helvetica; color:rgb(10, 10, 10);" type="text" name="company" placeholder="Enter a company name" required />
      <input type="submit" value="Generate Cover Letter" />
    </form>
  </body>
  <body>
    {% if result %}
    <div class="popup">
      <button id="close">&times;</button>
      <h2>Here's your New Cover Letter!</h2>
      <p>
          {{ result }}
      </p>
    </div>
    {% endif %}
    <script type="text/javascript">
      window.addEventListener("load", function(){
          setTimeout(
              function open(event){
                  document.querySelector(".popup").style.display = "block";
              },
              2000 
          )
      });
      
      document.querySelector("#close").addEventListener("click", function(){
          document.querySelector(".popup").style.display = "none";
      });
     </script>
  </body>
</html>